<div class="container" id="footer">
	<hr>
  <div class="row ">
    <div class="col-lg-12">
      <div class="col-md-8">  
      </div>
      <div class="col-md-4">
        <p class="muted pull-right">© 2020 FHC d.o.o. Sva prava zadrzana</p>
      </div>
    </div>
  </div>
</div>
</body>

  <script type="text/javascript" src="otherPageScript.js"></script>
</html>